body{
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 40px;
    margin: 0;
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
}
.calc{
    width: 100%;
    height: 100%;
    position : relative;
}
.calc-container{
    height: 100vh;
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #bebebe;
    padding: 0 0.1rem;
}
.operation-display{
    width : 100%;
    height: 10%;
    text-align: right;
    font-size: 32px;
}

.calc-display{
    width : 100%;
    display: flex;
    height : 12%;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 60px;

}
.btn-container{
    width: 100%;
    display : flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;

}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(25% - 1rem);
    margin: 0.2rem 0;
    background-color: 	white;
    appearance: none;
    font : 400 30px Roboto;
}
.btn:hover{
    background-color: 	#8f8e8d;
    box-shadow:   1px 1px 2px #8f8e8d;
}
.btn-operand{
    background-color: 	#d9d9d9;
    font : 300 30px Roboto;
}
.btn-result{
    background-color:	#8f8e8d;
}
.btn-log{
    position: absolute;
    top : 1rem;
    left: 1rem;
    background-color: transparent;
    font-size: 20px;
    z-index: 99;
}
.log{

    position: absolute;
    top:100vh;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #bebebe;
    transition: all 500ms linear;
    overflow-y: scroll;
}
.log-display{
    transition: all 500ms linear;
    top: 0vh;
    height: 100vh;
}
.title-log{
    font-size: 20px;
    margin: 3rem 1rem;
}

.result-container{
    text-align: right;  
    
}
.flex-log{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem;
    border-bottom: 1px solid black;
}
.operation{
    font-size: 20px;
}
.resultat{
    font-size: 30px;
    font-weight: 500;
}


