body{
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 40px;
    margin: 0;
    height: 100vh;
}
.calc{
    height: 100%;
}
.calc-container{
    height: 100vh;
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f5f0f3;
    padding: 0 0.1rem;
}
.operation-display{
    width : 100%;
    height: 7%;
    text-align: right;
    font-size: 28px;
}

.calc-display{
    width : 100%;
    display: flex;
height : 10%;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 70px;
}
.btn-container{
    width: 100%;
    display : flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;

}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(25% - 1rem);
    margin: 0.1rem 0;
    background-color: 	white;
    border : 0.1rem solid grey;
    appearance: none;
    font : 400 30px Roboto;
}
.btn:hover{
    background-color: #C3BABA;
}
.btn-operand{
    background-color: 	#f3f3f3;
    font : 300 30px Roboto;
}
.btn-result{
    background-color:	#736F72;
}
.log{
    display : none;
}

